@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --button-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url("../img/man_typing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid white;
}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: white;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero__title{
    font-size: 2.7rem;
}

.hero__subtitle{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 15px 0px;
}

.hero__cta{
    display: inline-block;
    background: white;
    padding: var(--button-padding);
    color: var(--color-primary);
    border-radius: 50px;
    text-decoration: none;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: white;
    text-decoration: none;
    padding: var(--button-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: 300;
}

.projects{
    background: #f2f2f2;
}

.projects__grid{
    display: grid;
    height: 700x;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
    transform: translateX(0%);
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

.nav--footer{
    justify-content: center;
}

.nav__items--footer{
    color: black;
}

.footer__title{
    margin: 20px;
    text-align: center;
}

.social__logo{
    height: 35px;
    width: 35px;
}

.footer__icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer__icons li{
    margin-right: 15px;
    margin-left: 15px;
}

.e-mail__footer{
    margin: 20px;
    font-size: 10px;
    text-align: center;
}